
.button {
   font-family: inherit;
   user-select: none;
   
}



.btn {
  line-height: 1.5;
  background: var(--white-alpha-m);
  border: 1px solid var(--white-alpha-n);
  padding: 10px 28px;
  display: inline-block;
  border-radius: 30px;
  fill: var(--color-main);
  color: var(--color-main);
  font-weight: 600;
  text-transform: capitalize;
  font-family: inherit;
  cursor: pointer;
  user-select: none;
  position: relative;
  overflow: hidden;
  vertical-align: middle;
  transition: color, fill 0.3s ease 0s;
}

.btn::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 0%;
  background: var(--color-main);
  z-index: -1;
  transition: width 0.3s ease 0s;
}

.btn:hover::before {
  width: 100%;
   
}

.btn:hover {
  color: var(--white);   
  fill: var(--white);
}
